@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

@page "/open-incident"

<PageTitle>Notfallereignis erfassen</PageTitle>

<h1>Notfallereignis erfassen</h1>
<MudText>Notfallereignis eröffnen und automatisierte Bounty-Zuordnung zu ermöglichen</MudText>

<MudGrid>
    <MudItem xs="12" Class="pa-4">
        <MudPaper Elevation="0" Outlined="true" Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                <MudTextField T="string" Label="Ort / PLZ " Required="true" RequiredError="Ort benötigt" />
                <MudNumericField Class="mt-6" @bind-Value="IntRadius" Label="Radius (km)" Variant="Variant.Text" Min="1"  />
                <MudDatePicker Class="mt-6" Label="Datum des Ereignisses" Required="true" RequiredError="Startdatum für Abgrenzung benötigt" />
                <MudDatePicker Class="mt-6" Label="Gültig bis" Required="true" RequiredError="Entdatum für Abgrenzung benötigt" />
                <MudSelect Class="mt-6" T="string" Label="Ereignisstyp" Required="true" AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem Value="@("Sturmwind")" />
                    <MudSelectItem Value="@("Hagel")" />
                    <MudSelectItem Value="@("Hochwasser")" />
                </MudSelect>

                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto mt-10">Notfallereigniss erfassen</MudButton>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    public int IntRadius { get; set; } = 1;
    bool success = true;
    string[] errors = { };
    MudTextField<string> pwField1;
    MudForm form;


}
