@inherits LayoutComponentBase

<MudThemeProvider Theme="_customTheme"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
  <MudAppBar
    Elevation="0"
    Color="Color.Transparent"
    Style="border-bottom: 1px solid #e5e5e5; background-color: white !important; border-left: 1px solid #e5e5e5;"
  >
    <MudIconButton
      Icon="@Icons.Material.Filled.Menu"
      Color="Color.Inherit"
      Edge="Edge.Start"
      OnClick="@DrawerToggle"
    />
    <MudSpacer />
    <img src="gvb_logo.1620214076346.svg" height="30px" />
  </MudAppBar>

  <MudDrawer @bind-Open="@DrawerOpen">
    <MudDrawerHeader Class="d-flex align-items-center">
        <img src="thorstopper_logo.svg" height="30px" class="mr-4"/>
        <b style="font-size:1.2em;">Thorstopper</b>
    </MudDrawerHeader>

    <MudNavMenu>
      <MudNavLink
        Match="NavLinkMatch.All"
        Icon="@Icons.Material.Filled.Task"
        Href="/case-list"
      >Auftragsliste</MudNavLink>
      <MudNavLink
        Match="NavLinkMatch.All"
        Icon="@Icons.Material.Filled.AddTask"
        Href="/open-incident">Ereigniss erfassen</MudNavLink>
    </MudNavMenu>

    <MudSpacer />

    <div
      class="d-flex align-items-center pl-4"
      style="border-top: 1px solid #e5e5e5; height: 60px"
    >
      <MudAvatar Style="height: 30px; width: 30px; background-color: #eb0000">M</MudAvatar>
      <p class="ml-2 mb-0">Max Muster</p>
    </div>
  </MudDrawer>

  <MudMainContent Class="pt-16">
    <MudContainer Class="mt-6 mb-10"> @Body </MudContainer>
  </MudMainContent>
</MudLayout>

@code {
    private bool DrawerOpen { get; set; } = true; void DrawerToggle()
    {
        DrawerOpen = !DrawerOpen;
    }

     readonly MudTheme _customTheme = new()
    {
        Palette = new Palette()
        {
            Primary = "#a61711",
            Secondary = "ff8f18",
            AppbarBackground = "#ffffff",
            DrawerBackground = "#faf7f7",
            GrayLight = "#dad5d5",
        },
        
        PaletteDark = new PaletteDark()
        {
            Primary = Colors.Blue.Lighten1
        },
        
        LayoutProperties = new LayoutProperties()
        {
            DrawerMiniWidthLeft = "64px",
        },

        ZIndex = new ZIndex()
        {
            Dialog = 100000,
        },
        
        Typography = new Typography()
        {
            Default = new Default()
            {
                FontSize = "0.9rem"
            }, 
            H2 = new H2()
            {
                FontWeight = 500,
                FontSize = "2rem",
            },
            Subtitle1 = new Subtitle1()
            {
                FontSize = "1.2rem",
                FontWeight = 500
            },
        }

    };
} 
